entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "https"
          scheme: "https"    
  websecure:
    address: ":443"
    http:
      tls: {}

providers:
  file:
    directory: "/etc/traefik/dynamic/"
    watch: true

log:
  level: ERROR

serversTransport:
  insecureSkipVerify: true

ping: {}